/* user homepage */
.banner{
    position: relative;
    overflow: hidden;
    background-image: url("../images/userbanner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display:flex;
}
.block{
    padding: 100px 0 160px;
}
.banner .block h6{
    color: aliceblue;
}

.banner .block h1{
    font-size: 60px;
    color: aliceblue;
}

/* section features */
.features{
    position:relative;
    z-index: 3;
    margin-top: -420px;
}
.feature-item{
    flex-basis: 50%;
    margin:0px 50px;
    padding:40px 30px;
    background-color: #285D34;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px rgba(0,42,106,0.1);
}
.feature-item .feature-icon i{
    font-size: 50px;
    color: #fff;
}
.feature-item h4{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    
}
.feature-item ul h6 {
    color: #fff;
}
.feature-item ul li{
    font-size: 14px;
    color: #fff;
}
.w-hours th, .w-hours td{
    border: 1px solid black;
    text-align: center;
}
.w-hours th{
    text-transform: uppercase;
    color: #fff;
}
.w-hours td {
    color: #fff;
}
/* section services */
.services{
    position:relative;
    margin-top: 70px;
}

.text h3{
    text-align: center;
    padding-top: 50px;
}
.text p{
    font-size: 18px;
    text-align: center;
    padding: 20px 40px;
}
.image{
    width: 50%;
}
.image img{
    width: 100%;
    margin-left: 180px;

 } 

/* footer */
.footer {
    display: flex;
    margin: auto;
    position:relative;
    padding-top: 50px;
    justify-content: center;
}
.footer-content{
    margin: auto;
    width: 33.3%;
    padding: 7px;
}
.footer-content h3{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align:center;
}


/* registration  and login */
.main-wrapper {
    width: 100%;
    height: 100vh;
    min-height: 94vh;
}
.main-wrapper .login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94vh;
    background: linear-gradient(135deg, #007bff 0%, #00c6ff 100%);
}
.login-wrapper {
    width: 100%;
    display:flex;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 25px;
}
.loginbox{
    display: flex;
    width:100%;
    height: 94vh;
}

.login-left {
    flex:1;
    background: url("../images/patientlogin.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f31408;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.login-right {
    flex:1;
    padding: 30px;
    background-color: #317a42;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.login-right-wrap{
    max-width: 400px;
    margin: auto;
}
.login-right-wrap h1 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-bottom: 8px;
    text-align: center;
}
.form-group {
    margin-bottom: 3px;
}
.form-group label{
    font-weight: 600;
    color:black;
}
.form-group-login{
    margin-bottom: 20px;
}
.form-control {
    height: 35px;
    border-radius: 8px;
    transition: 0.1s;
}
.btn-primary {
    margin-top: 10px;
    width: 100%;
    background-color: rgb(60, 117, 241);
    border:none;
    border-radius: 8px;
    font-weight: 600;
    padding:8px;
    transition: 0.3s;
}
.btn-primary a {
    color: #f4f4f4;
    text-decoration: none;
}
.btn-primary:hover {
    background: #f31408;
    transition: 0.3s;
}
.alert {
    font-size: 14px;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.already-have {
    margin-top: 10px;
    font-size: 15px;
}
.already-have a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.already-have a:hover {
    text-decoration: underline;
}

/* dashboard header */
.header {
    display:flex;
    /* brings them horizontally but attached */
    align-items: center;
    /* spaces them  */
    justify-content: space-between;  
    background:#2f7c41;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1001;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
}
.header-left .logo img {
    width: 150px;
    height: 80px;
    border-radius:  8px;
}
.mobile_btn {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}
.user-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.user-menu .nav-link {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user-menu .user-img img {
    border-radius: 50%;
    border: 2px solid #fff;
    width:40px;
    height: 40px;
}
.dropdown-menu {
    background: white;
    border-radius: 8px;
    min-width: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 14px;
}
.user-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.avatar {
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 3rem;
}
.avatar-sm {
	width: 2.5rem;
	height: 2.5rem;
}
.avatar > img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.user-header .avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.user-text h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.user-text p {
    margin: 0;
    font-size: 12px;
    color: #888;
}
.dropdown-item {
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}
.dropdown-item:hover {
    background: #f4f4f4;
    color: #0a3d62;
}
/* sidebar  */
.sidebar {
    width:250px;
    background-color: #2f7c41;
    color: #fff;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
}
.sidebar-inner {
    height: 100%;
    overflow-y: auto;
    padding-top: 20px;
}
.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 10px ;
}
.menu-title {
    padding: 15px 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: #bbb;
    font-weight: bold;
}
.sidebar-menu ul li a {
    display: flex;
    align-items: center;
    color:#fff;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
    padding: 10px 15px;
}
.dropdown-menu{
    position: static;
    float:none;
    width: 100%;
    background: transparent;
}
.sidebar-menu li a i {
    margin-right: 12px;
    font-size: 18px;
    width: 20px;
    text-align: center;
}
.sidebar-menu li a:hover {
    background: #00c6ff;
    border-radius: 5px;
}


/* DASHBOARD  pages headers */
.page-wrapper {
    margin-left: 300px;
    padding-top: 80px;
    position: relative;
}
.page-wrapper > .content {
    padding: 30px 30px 0;
}
.page-header{
    margin-bottom: 10px;
}
.page-header .breadcrumb {
    background-color: transparent;
    color:#6c757d;
    font-size: 16px;
    font-weight: 500;
}
.page-header .breadcrumb a{
    color: #333;
}
.page-title {
    font-size: 28px;
    font-weight: 600;
    color:#333;
    margin-bottom: 5px;
}

/* admin dashboard  */
.bg-one {
    background-color: rgba(253, 187, 56, 0.5);
    border-color: #fdbb38;
    border-radius: 30px 0px;
    height: 125px;
}
.bg-two {
    background-color: rgba(5, 146, 216, 0.2);
    border-color: #19affb;
    border-radius: 0px 30px;
     height: 130px;
}
.bg-three {
    background-color: rgba(148, 250, 133, 0.5);
    border-color: #31fb12;
    border-radius: 30px 0px;
    height: 125px;
}
.bg-four {
    background-color: rgba(110, 107, 250, 0.2);
    border-color: #6e6bfa;
    border-radius: 0px 30px;
    height: 125px;
}

.db-icon {
    font-size: 25px;
    width: 60px;
    height: 60px;
    padding:13px 21px;
    border-radius: 10px;
    color: #fff;
    margin-right: 20px;
}
.bg-one .db-icon {
    background-color: #fdbb38;
}
.bg-two .db-icon {
    background-color: #19affb;
}
.bg-three .db-icon {
    background-color: #4ed839;
}
.bg-four .db-icon {
    background-color: #6e6bfa;
}

.db-info h3 {
    font-size: 28px;
    font-weight: 600;
    color: #333333;
}
.db-info h6 {
    margin: 0px;
    font-weight: bold;
    font-size: 15px;
    color:#333333;
}

/* appointment and dependants */
.card-wrapper{
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}
.card-wrapper .card-header {
    background: #2f7c41;
    color: #fff;
    border-radius: 12px 12px 0 0;
    padding: 15x 20px;
}
.card-wrapper .card-title {
    margin: 10px;;
    font-size: 18px;
    font-weight: 600;
}
