{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
    {% if user.user_type == 1 %}
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Book Appointment</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="{% url 'admindashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Book Appointment</li>
                </ul>
            </div>
        </div>
    </div>
    {% elif user.user_type == 2 %}
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title"> Profile Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'doctordashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active"> Book Appointment</li>
                </ul>
            </div>
        </div>
    </div>
    {% elif user.user_type == 3 %}
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title"> Profile Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'patienthome' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Book Appointment</li>
                </ul>
            </div>
        </div>
    </div>
    {% elif user.user_type == 4 %}
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title"> Profile Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'staffdashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item hover">Book Appointment</li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-11">
            <div class="card card-wrapper" >
                <div class="card-header">
                    <h5 class="card-title">Book Appointment</h5>
                </div>
                <div class="card-body">

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                     {% endfor %}
                    {% endif %}

                    <form action="{% url 'patientappointment' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        

                        <div class="form-group ">
                            <label  class="col-form-label col-md-2">Doctor</label>
                            <div class="col-md-11">
                                <select class="form-control" name="doctor_id" id="doctor" required="required">
                                    <option value="">select doctor</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-form-label col-md-2">Date</label>
                            <div class="col-md-11">
                                <input type="date" class="form-control" name="date_of_appointment" required="True">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-form-label col-md-2">Time</label>
                            <div class="col-md-11">
                                <input type="time" class="form-control" required="True" name="time_of_appointment">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-form-label col-md-2">Additional Message</label>
                            <div class="col-md-11">
                                <textarea class="form-control" name="additional_msg" id=""></textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div  class="col-sm-10">
                                <button type="submit" class="btn btn bg-primary mt-3"> Book now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p>doctor availability</p>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (){
        fetch("{% url 'get_doctor' %}")
        .then(response => response.json())
        .then(data => {
            let doctorSelect = document.getElementById("doctor");
            data.doctors.forEach(doc => {
                let option = document.createElement("option");
                option.value = doc.id;
                option.textContent = doc.name;
                doctorSelect.appendChild(option);
                });
        })
        .catch(error => console.error("Error fetching doctors:", error));      
    })
</script>
{% endblock %}