{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Appointments History</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{ url 'patienthome' }">Dashboard</a></li>
                    <li class="breadcrumb-item active">View Appointment History</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                     <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable ">
                            
                            {% for i in patientdetails %}
                            <tr><label style="font-size: medium;text-align: center;"> Appointment Number: {{i.appointmentnumber}}</label></tr>
                            <tr>
                                <th>Name</th>
                                <td>{{i.pat_id.admin.first_name}} {{i.pat_id.admin.last_name}}</td>
                                <th>Contact Number</th>
                                <td>{{i.pat_id.admin.mobilenumber}}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>{{i.pat_id.gender}}</td>
                                <th>Email</th>
                                <td>{{i.pat_id.admin.email}}</td>
                            </tr>
                            <tr>
                                <th>Date of Appointment</th>
                                <td>{{i.date_of_appointment}}</td>
                                <th>Time of appointment </th>
                                <td>{{i.time_of_appointment}}</td>
                            </tr>

                            <tr>
                                <th>Message</th>
                                <td>{{i.additional_msg}}</td>
                                <th></th>
                                <td></td>
                                
                            </tr>
                            <tr>
                                
                                {% if i.status == '0' %}
                                <th>Doctor Remark</th>
                                <td>Not Updated Yet</td>

                                {% else %}
                                <th>Doctor Remark</th>
                                <td style="max-width: 300px;">{{ i.diagnosis }}</td>
                                {% endif %}
                                <th>Prescribed Medicine</th>
                                <td>{{ i.prescription }}</td>
                            </tr>
                            <tr>
                                {% if i.status == '0' %}
                                <th>Status</th>
                                <td>Not Updated Yet</td>
                                {% else %}
                                <th>Status</th>
                                <td>{{i.status}}</td>
                                {% endif %}
                                {% if user.user_type == 4 %}
                                <th>cost</th>
                                <td>{{ i.consultancy_fee}}</td>
                                {% endif %}
                            </tr>
                            {% if user.user_type == 4 %}
                            <tr>
                                {% if i.paid_by_insurance %}
                                <th>Paid by Insurance</th>
                                <td>YES</td>
                                {% else %}
                                <th>paid by insurance</th>
                                <td>NO</td>
                                {% endif %}
                            </tr>
                            {% endif %}

                        </table>

                        {% if i.pat_id.insurance %}
                        <h4>Insurance Information</h4>
                        <table class="table table-bordered">
                            <tr>
                                <th>Total cover</th>
                                <td>{{ i.pat_id.insurance.total_cover }}</td>
                            </tr>
                            <tr>
                                <th>Remaining Balance</th>
                                <td>{{ i.pat_id.insurance.balance }}</td>
                            </tr>
                        </table>

                        {% elif user.user_type == 3 %}
                        <p>Do not pay for any services in medical centre</p>
                        {% else %}
                        <p> You do not have insurance</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}