{% load tz %}
<footer style="background-color: #2f7c41">
    <div class="container footer">
        <div class="footer-content">
            <h3>Vision</h3>
            <p>A premier University hospital exceling in provision of quality healthcare</p>
        </div>
        <div class="footer-content">
            <h3>Mission</h3>
            To provide quality promotive, preventive and curative healthacare services that are accessible and accountable to the university community.
        </div>
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p><i class="fa-solid fa-phone mx-2 "></i>   Phone: 0743150434</p>
            <p><i class="fa-solid fa-envelope mx-2 "></i>  Email: medicalofficer@dkut.ac.ke</p>
            <p><i class="fa-solid fa-location-dot mx-2 "></i> Location: DeKUT Main Campus, Off Thika Road, Kenya</p>
        </div>
    </div>
    <div class="container footer">
            <p> &copy; {{ now|date:"Y" }} Ronoh. All rights reserved </p>
    </div>
</footer>