<footer style="background-color: #2f7c41">
    <div class="container footer">
        <div class="footer-content">
            <h3>Vision</h3>
            <p>A premier University hospital exceling in provision of quality healthcare</p>
        </div>
        <div class="footer-content">
            <i class="fa-solid fa-users"></i>
            <h3>Mission</h3>
            To provide quality promotive, preventive and curative healthacare services that are accessible and accountable to the university community.
        </div>
        <div class="footer-content">
            <i class="fa-solid fa-phone"></i>
            <h3>Contacts</h3>
            <p><i class="fa-solid fa-phone"></i>   Phone: 0743150434</p>
            <p><i class="fa-solid fa-envelope"></i>  Email: medicalofficer@dkut.ac.ke</p>
        </div>
    </div>
</footer>