{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Referrals</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item active">Referral History</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Hospital</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Status</th>
                                    <th class="right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in referrals %}
                                <tr>
                                    <td>{{ i.hospital_id }}</td>
                                    <td>{{ i.date_of_referral }}</td>
                                    <td>{{ i.time_of_referral }}</td>
                                    <td>
                                        {% if i.status == "Pending" %}
                                        <span class="badge bg-warning">Pending</span>
                                        {% elif i.status == "Accepted" %}
                                        <span class="badge bg-success"> Accepted</span>
                                        {% else %}
                                        <span class="badge bg-danger">Rejected</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        <div class="actions">
                                            <td>
                                                {% if appointment.status != "Accepted" and appointment.status != "Rejected" %}
                                                <form action="">
                                                    <button type="submit"> cancel</button>
                                                </form>
                                                {% else %}
                                                <span class="text-muted"> cannot cancel</span>
                                                {% endif %}
                                            </td>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No referrals found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}