{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid" >
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Appointments</h3>
                <ul class="breadcrumb">

                    <li class="breadcrumb-item"><a href="{% url 'doctordashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active"> View Appointment Status</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                {% if patientdetails1 %}
                                <tr>
                                    <th>Appointment No.</th>
                                    <th>Patient Name</th>
                                    <th>Mobile No:</th>
                                    <th>Date </th>
                                    <th>Time </th>
                                    <th>Status</th>
                                    {% if view_type == "approved" %}
                                    <th>Fee</th>
                                    <th class-="">payment status</th>
                                    {% endif %}
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in patientdetails1 %}

                                <tr>
                                    <td>{{i.appointmentnumber}}</td>
                                    <td>{{i.pat_id.admin.first_name}} {{i.pat_id.admin.last_name}}</td>
                                    <td>{{i.pat_id.admin.mobilenumber}}</td>
                                    <td>{{i.date_of_appointment}}</td>
                                    <td>{{i.time_of_appointment}}</td>

                                    {% if i.status == "0" %}
                                    <td>Not Updated Yet</td>
                                    {% else %}
                                    <td>{{i.status}}</td>
                                    {% endif %}

                                    {% if view_type == "approved" %}
                                    <td>{{ i.consultancy_fee }}</td>
                                    
                                    <td>
                                        {% if i.pat_id.admin.user_type == 3 %}
                                            <span>Is a student </span>
                                        {% elif i.pat_id.admin.user_type == 4 %}
                                            {% if i.is_paid %}
                                                <span class="badge bg-success">Paid</span>
                                            {% elif i.paid_by_insurance %}
                                            <span class="badge bg-info"> Paid by insurance</span>
                                            {% else %}
                                                <form method="POST" action="{% url 'stk_push' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="appointment_id" value="{{ i.id }}">
                                                    <input type="hidden" name="patient_id" value="{{ i.pat_id.id }}">
                                                    <input type="hidden" name="phone" value="{{ i.pat_id.admin.mobilenumber }}">
                                                    <input type="hidden" name="amount" value="{{ i.consultancy_fee }}">
                                                    <button class="btn bg-danger btn-sm "> Send Prompt</button>
                                                </form>
                                                <a href="{% url 'claim_insurance' i.id %}" class="btn btn-sm bg-success"> use Insurance</a>
                                                {% endif %}
                                        {% endif %}
                                    </td>
                                    {% endif %}

                                    <td class="text-right">
                                        <div class="actions">
                                            <a href="{% url 'viewappointmentdetails' i.id %}" ><i class="btn bg-primary btn-block ">View</i></a>
                                        </div>
                                    </td>
                                </tr>

                                {% endfor %}
                                {% else %}
                                <td colspan="7">No appointments</td>
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}