{% load static %}
{% if user.user_type == 1 %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-menu" id="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main menu</span>
                </li>
                <li>
                    <a href="{% url 'admindashboard' %}"><i class="fas fa-clipboard-list"></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="{% url 'viewdoctorlist' %}"><i class="fas fa-user-md"></i> <span>Doctor List</span></a>
                </li>
                <li>
                    <a href="{% url 'registeredusers' %}"><i class="fa fa-users"></i><span>Reg users</span></a>
                </li>
                <li>
                    <a href="{% url 'viewpharmacistlist' %}"><i class="fa fa-microscope"></i><span>pharmacist list</span></a>
                </li>
                <li>
                    <a href="{% url 'insurancelist' %}"><i class="fas fa-clipboard-list"></i><span>Insurance List</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% elif user.user_type == 2 %}
<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-menu" >
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li>
                    <a href="{% url 'doctordashboard' %}"><i class="fas fa-clipboard-list"></i><span>Dashboard</span></a>
                </li>

                <li class="nav-item">
                    <a class="d-flex align-items-center" href="#appointmentMenu" data-bs-toggle="collapse" role="button" aria-expanded="false"><i class="fas fa-calendar-check"></i><span>Appointments</span></a>
                    <div class="collapse" id="appointmentMenu">
                        <ul class="nav flex-column ms-3" >
                            <li class="nav-item"><a class="nav-link" href="{% url 'newappointments' %}">New Appointment</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'approvedappointments' %}">Approved Appointment</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'cancelledappointments' %}">Cancelled Appointment</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'allappointment' %}">All Appointment</a></li>
                        </ul>
                    </div>
                </li>
                    
                <li class="nav-item">
                    <a class="d-flex align-items-center" href="#PatientMenu" data-bs-toggle="collapse" role="button" aria-expanded="false" ><i class="fas fa-chalkboard-teacher"></i><span>Patient</span></a>
                    <ul class="collapse " id="PatientMenu">
                        <li><a href="{% url 'addpatient' %}">Add Patient</a></li>
                        <li><a href="{% url 'managepatient' %}">Manage Patient</a></li>
                    </ul>
                </li>

                <li>
                    <a href="{% url 'doctor_referrals' %}"><i class="fas fa-ambulance"></i>Referral</a>
                </li>

                <li class="submenu">
                    <a data-bs-toggle="collapse" data-bs-target="#reportMenu" role="button" aria-expanded="false" aria-controls="reportMenu"><i class="fas fa-file"></i> <span>Report</span><span class="menu-arrow"></span></a>
                    <ul class="collapse" id="reportMenu">
                        <li><a href="{% url 'betweendatepatientreport' %}">Appointment Report</a></li>
                        <li><a href="">Patient Report</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>



{% elif user.user_type == 3 %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-menu" id="sidebar-menu">
            <ul>
                <li class="menu-title"><span>Main Menu</span></li>
                <li>
                    <a href="{% url 'patienthome' %}"><i class="fa fa-file"></i><span>Dashboard</span></a>
                </li>
                <li><a href="{% url 'patientappointment' %}"><i class="fas fa-edit"></i><span>Book Appointment</span></a></li>
                <li><a href="{% url 'viewappointmenthistory' %}"><i class="fas fa-file"></i><span>Appointment History</span></a></li>
            </ul>
        </div>
    </div>
</div>

{% elif user.user_type == 4 %}
<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-menu">
            <ul>
                <li class="menu-title"><span>Main Menu</span></li>
                <li><a href="{% url 'staffdashboard' %}"><i  class="fas fa-file"></i><span>Dashboard</span></a></li>
                <li class="nav-item">
                    <a class="d-flex align-items-center" href="#dependants" data-bs-toggle="collapse" role="button" aria-expanded="false" ><i class="fas fa-users"></i><span>Dependants</span></a>
                    <ul class="collapse" id="dependants">
                        <li><a href="{% url 'adddependants' %}"><i class="fas fa-file"></i><span>ADD Dependants</span></a></li>
                        <li><a href="{% url 'dependantslist' %}"><i class="fas fa-file"></i>dependants list</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'patientappointment' %}"><i class="fas fa-edit"></i><span>Book Appointment</span></a></li>
                <li><a href="{% url 'referrals' %}"><i class="fas fa-edit"></i><span>Referral</span></a></li>
                <li><a href="{% url 'referral_history' %}"><i class="fas fa-edit"></i><span>referall history</span></a></li>
                <li><a href="{% url 'viewappointmenthistory' %}"><i class="fas fa-file"></i><span>Appointment History</span></a></li>
            </ul>
        </div>
    </div>
</div>
{% else %}
<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-menu">
            <ul>
                <li class="menu-title"> <span> Main Menu</span></li>
                <li><a href="{% url 'pharmacistdashboard' %}"><i class="fas fa-hospital"></i><span>Dashboard</span></a></li>
                <li><a href="{% url 'newpharmacistappointments' %}"><i class="fas fa-users"></i><span>New appointment</span></a></li>
                <li><a href="{% url 'newpharmacistpatients' %}"><i class="fas fa-users"></i><span>New patient</span></a></li>
                <li><a href="{% url 'pharmacy_records' %}"><i class="fas fa-clipboard-list"></i><span>records</span></a></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}